django==3.2.4
pymysql
djangorestframework
djangorestframework-jwt
ldap3>=2.9
django_python3_ldap
httprunner==2.5.7
django-filter==2.4.0
six
drf-extensions
coreapi
celery==5.1.2
redis
django-cors-headers
cryptography